*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 35px;
    width: 100%;

}
nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-left: 50%;
    display: inline;
}
li:hover{
    color: rgb(223, 197, 51);
    cursor: pointer;
    background-color: rgb(253, 254, 255);
    box-shadow: 1px 0px 10px rgb(255, 234, 234);
}
li{
    display: inline-block;
    margin-right: 1px;

}
#h{
    display: inline;
    font-weight: bolder;
}
.search{
    margin-right: 10px;
    text-align: center;

}
input{
    margin: 25px;
    padding:25px;
    height: 3px;
    width: 70%;
    border-radius: 10px;
}
.products{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 25px;
}

.fog{
    text-align: center;
    border-style: solid;
    border-color:white;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
.fog:hover{
    box-shadow: 1px 0px 4px rgb(126, 125, 125);
    border-color: black;
    border-width: 3px;
    cursor: pointer;
    border-radius: 25px;
    border: none;

}
.watch{
    text-align: center;
    border-style: solid;
    border-color:white;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    
}
.watch:hover{
    border-color: black;
    border-width: 3px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 1px 0px 4px rgb(126, 125, 125);
    border:none;



}
.wash{
    text-align: center;
    border-style: solid;
    border-color:white;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
.wash:hover{
    border-color: black;
    border-width: 3px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 1px 0px 4px rgb(126, 125, 125);
    border:none;



}


.pc{
        text-align: center;
        border-style: solid;
        border-color:white;
        width: 250px;
        height: 250px;
        padding: 10px;
        margin: 10px;
        display: inline-block;
        
}
.pc:hover{
    border-color: black;
    border-width: 3px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 1px 0px 4px rgb(126, 125, 125);
    border:none;


}
.cheppal:hover{
    border-color: black;
    border-width: 3px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 1px 0px 4px rgb(126, 125, 125);
    border:none;


}
.cheppal{
    text-align: center;
    border-style: solid;
    border-color:white;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
#footer{
    background-color: black;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 20px;
    text-align: center;
}