*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 35px;
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-left: 50%;
    display: inline;
}
li:hover{
    color: rgb(223, 197, 51);
    cursor: pointer;
    background-color: rgb(253, 254, 255);
    box-shadow: 1px 0px 10px rgb(255, 234, 234);
}
li{
    display: inline-block;
    margin-right: 1px;

}
#h{
    display: inline;
    font-weight: bolder;
}
.search{
    margin-right: 10px;
    text-align: center;
}
input{
    margin: 25px;
    padding:25px;
    height: 3px;
    width: 70%;
    border-radius: 10px;
}
.products{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-bottom: 2px;
}
.fog{
    text-align: center;
    border-style: solid;
    border-color:white;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
.fog:hover{
    border-color: black;
    border-width: 3px;
    cursor: pointer;
}
.watch{
    text-align: center;
    border-style: solid;
    border-color:white;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    
}
.watch:hover{
    border-color: black;
    border-width: 3px;
    cursor: pointer;
}
.wash{
    text-align: center;
    border-style: solid;
    border-color:white;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
.wash:hover{
    border-color: black;
    border-width: 3px;
    cursor: pointer;
}


.pc{
        text-align: center;
        border-style: solid;
        border-color:white;
        width: 250px;
        height: 250px;
        padding: 10px;
        margin: 10px;
        display: inline-block;
        
}
.pc:hover{
    border-color: black;
    border-width: 3px;
    cursor: pointer;
}
.cheppal:hover{
    border-color: black;
    border-width: 3px;
    cursor: pointer;
}
.cheppal{
    text-align: center;
    border-style: solid;
    border-color:white;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
#footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 200px;
    padding: 20px;
}