*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}
.nav{
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 35px;
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
#h{
    display: inline;
    color: rgb(255, 255, 255);

}
ul{
    margin-left: 50%;
    display: inline;
}
li:hover{
    color: rgb(223, 197, 51);
    cursor: pointer;
    background-color: rgb(253, 254, 255);
    box-shadow: 1px 0px 10px rgb(255, 234, 234);
}
li{
    display: inline-block;
    margin-right: 1px;

}

