
.nav{
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 35px;
}
#h{
    display: inline;
    color: rgb(255, 255, 255);
}
ul{
    margin-left: 50%;
    display: inline;
}
li:hover{
    color: rgb(223, 197, 51);
    cursor: pointer;
}
li{
    display: inline;
    margin-right: 1px;

}
#h{
    display: inline;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#one{
    
    padding-bottom: 40px;
    
}
#two{
    width: 680px;
    margin:20px;
    background-color: rgb(168, 170, 172);
    padding: 30px;
    border-radius: 30px;
    transition: all 1s ease-in-out;
}
#two:hover{
    padding: 40px;
}
#three{
    width: 900px;
    margin:20px;
    margin-left: 150px;
    background-color: rgb(168, 170, 172);
    padding: 30px;
    border-radius: 30px;
    transition: all 1s ease-in-out;
    margin-bottom: 70px;
    margin-top: 20px;

}
#three:hover{
    padding: 40px;
    width: 950px;
    
}
img{
    width: 350px;
    height: 350px;
    padding-top:20px ;
    margin-right: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    transition: all 1s ease-in-out;
}
img:hover{
    width: 380px;
    height: 380px;
}

#footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
strong{
    margin-left: 30px;
}
.rip{
    text-align: center;
    height: auto;
    background-color: rgb(168, 170, 172);
    color: rgb(0, 0, 0);
    padding-bottom: 0% ;
}
#img{
    display: flex;
    background-color: rgb(255, 255, 255);
    filter: blur(3);
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: black;
}
#two{
    text-align: justify;
    margin: 20px;
}
#p3{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 10px;
}
#p2{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 10px;
}
#about{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
    display: block;
    background-color: rgb(0, 0, 0);
    filter: drop-shadow(1px 0px 10px rgb(43, 42, 42));
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 40px;

}
#p1{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 10px;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px;
    display: block;
    

}