
.nav{
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 35px;
}
nav{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    
}
#h{
    display: inline;
    color: rgb(255, 255, 255);
    font-weight: bolder;

}
ul{
    margin-left: 50%;
    display: inline;
}
li:hover{
    color: rgb(223, 197, 51);
    cursor: pointer;
}
li{
    display: inline;
    margin-right: 1px;

}
#h{
    display: inline;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#one{
    margin: 4%;
    padding-bottom: 40px;
}
#two{
    text-align: center;
    width: 90%;
    height: auto;
    background-color: rgb(168, 170, 172);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    transition: all 1s ease-in-out;
    padding: 30px;
    margin-bottom: 30px;
    margin: 3%;
}

#three{
    width: 90%;
    margin:20px;
    height: auto;
    text-align: center;
    background-color: rgb(168, 170, 172);
    padding: 30px;
    border-radius: 30px;
    transition: all 1s ease-in-out;
    margin-bottom: 70px;
    margin-top: 20px;
    display: inline-block;
    margin: 3%;
    
}
#three:hover,#two:hover{
    padding: 40px;
    

}
img{
    width: 350px;
    height: 350px;
    padding-top:20px ;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    transition: all 1s ease-in-out;
}
    

#footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
strong{
    margin-left: 30px;
}

#img{
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    filter: blur(3);
    margin-bottom: 40px;
    color: black;
    display: flex;
    flex-direction: row;
}

#p3{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 10px;
}
#p2{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 10px;
}
#about{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
    display: block;
    background-color: rgb(0, 0, 0);
    filter: drop-shadow(1px 0px 10px rgb(43, 42, 42));
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 40px;

}
#p1{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 10px;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px;
    display: block;
}